body {
    font-family: Arial;
}

#product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    width: 200px;
    border: 1px solid #ccc;
    padding: 10px;
}

.highlight {
    border: 2px solid red;
    background-color: #ffe6e6;
}